body {
    margin: 0;
    font-size : 18px;
    line-height: 1.5;
    color: #333;
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

/* HEADER STYLES START */
header > h1,
header > h2 {
  width: 100vw;
  text-align: center;
  position: relative;
  color:azure;
  font-variant: small-caps;
  text-shadow: 0 0 2px #000;
  padding: 0;
  /* display: inline-block; */
}

.nav {
  font-size: 4vh;
  white-space: nowrap;
  padding: 0 40vw 0 39vw;
  align-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__list-item + .nav__list-item {
  margin-left: 3.6vw;
}

.nav__link {
  color: azure;
  text-shadow: 0 0 2px #000;
  text-decoration: none;
}
.nav__link:hover {
  color: coral;
}
/* HEADER STYLES END */

main {
  border-top: 2px solid #e3e3e3;
}

a {
  transition: all 0.3s;
}

h1 {
  margin: 7vh 0 2vh 0;
  font-size: 60px;
  text-align: center;
  color: #333;

}

ul {
  list-style: none;
}

h2 {
  margin: 0;
  padding: 0 0 5vh 0;
  font-size: 25px;
  text-align: center;
}

h3 {
  margin: 2vh 0 0 0;
  padding: 0 0 1vh 0;
  font-size: 20px;
  text-align: left;
  border: none;
  color:teal;
}

main {
  width: 900px;
  margin: auto;
}

section {
  margin: 7vh 0 7vh 0;
  padding: 0.5vh 7vh 0.5vh 7vh;
  background-color: azure;
  filter: opacity(90%);
  /* border-radius: 5%; */
}

section h2 {
  padding: 0;
  text-align: left;
}

section li {
  margin: 0 2vw 0 0;
}

.skills > ul {
  columns: 4;
}

.about_me p {
  font-size: 18px;
}

/* SIDE BAR STYLING START */
.side-bar {
  position: fixed;
  left: 2vw;
  width: 15vw;
  /* height: 20vh; */
}

.portfolio-container {
  background-color:darkslategray;
  position: relative;
  border-radius: 5%;
  padding: 0.5vh 0 0.5vh 0;
}

.side-bar__image {
  background-image: url('../images/side_bar_image.jpg');
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  height: 10vh;
  width: 10vw;
  margin: 0 0 1vh 0;
  padding: 1vh 0 1vh 0;
  border-radius: 5%;
  left: 50%;
  transform: translate(-50%);
}

.side-bar h2 {
  color: white;
  margin: 0;
  padding: 1vh 0 1vh 0;
  font-size: 4vh;
  text-align: center;
  border-bottom: 0.35vh solid #e3e3e3;
}
.project__link {
  text-decoration: none;
  color:white;
}

.project__link:hover {
  text-decoration: none;
  color:coral;
}

/* SIDE BAR STYLING END */