*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-btn {
    padding: 1.2vh 6.8vw 1.2vh 1.6vw;
    background-color: #85689a;
    font-size: 2.7vh;
    line-height: 1.2;
    color: #fff;
    transition: all 0.3s;

}

/* nav bar start */
.header {
    height: 100vh;
    background-image: url("../photo/1/jj-ying-7JX0-bfiuxQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    max-width: 73vw;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    color: #85689a;
    font-size: 4.5vh;
    padding-top: 17vh;
    margin-bottom: 5.7vh;
    white-space: nowrap;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__list-item + .nav__list-item {
    margin-left: 3.6vw;
}

.nav__ref:hover {
    color: #280e3b;
}

.search-btn {
    position: relative;
}

.search-btn::before {
    content: "\f002";
    font-family: 'icomoon';
    width: 5vh;
    height: 5vh;
    position: absolute;
    left: -5vh;
}

/* nav bar end */

/* selector start */
.selector {
    height: 65.6vh;
    position: relative;
}

.selector__title {
    font-size: 7.6vh;
    color: #cdc16d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 3;
    letter-spacing: 0.2vw;

}

.date {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 4.3vh;
    line-height: 7vh;
    color: #85689a;
    padding: 5.7vh 2.1vw;
    margin: 9.8vh 5.5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.selector::before {
    font-family: 'icomoon';
    content: "\f053";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 7vh;
    color: #85689a;
}

.selector::after {
    font-family: 'icomoon';
    content: "\f054";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 7vh;
    color: #85689a;
}

.date__right,
.date__left {
    display: flex;
    flex-direction: column;
}

.date__right {
    text-align: right;
}

.img-container__exhibition {
    width: 27vw;
    height: 65.8vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.more-btn {
    position: relative;
    left: 39%;
    top: -3.5vh;
}

.main-btn::after {
    content: "\f178";
    font-family: 'icomoon';
    position: absolute;
    font-size: 5vh;
    right: 1.3vw;
    top: 50%;
    transform: translateY(-50%)
}

.main-btn:hover {
    color: #000;
}
/* selector end */

/* upcoming exhibition */
.upcoming-exhibition {
    height: 100vh;
    background-color: #a1a1a1;
    padding: 0 6.8vw;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.upcoming-exhibition__title {
    font-size: 8.8vh;
    padding-top: 9.5vh;
}

.upcoming-exhibition h3 {
    font-size: 8.8vh;
    padding-top: 8.5vh;
}

.upcoming-exhibition__date {
    font-size: 5.9vh;
    line-height: 11vh;
    padding: 4.7vh 0 5vh;
}

.upcoming-exhibition__info {
    font-size: 4.6vh;
    line-height: 7.5vh;
}

.last-p {
    margin-bottom: 5vh;
}

.buy-btn {
    position: relative;
    bottom: 2vh;
}

/* image */
.img-container__statue img {
    right: 0;
    bottom: -100%;
    position: absolute;
    height: 120vh;
    z-index: 3;
    pointer-events: none;
}

.circle {
    content: "";
    position: absolute;
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    background-color: #85689a;
    right: -10vh;
    top: 5vh;
    z-index: -1;
}

.waves {
    position: absolute;
    right: 35%;
    bottom: 20%;
    color: white;
    opacity: 85%;
    font-size: 130px;
}

/* upcoming exhibition END */


/* highlights START  */
.highlights {
    height: 100vh;
    padding: 5vh 3.8vw;
}

.highlights_container::before {
    content: 'Highlights of 2019';
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    display: inline-block;
    background-color: white;
    color: rgb(139, 72, 139);
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    height: 45vh;
    padding: 2vh;
    left: -2.5%;
    top: 25%;
    z-index: 1;
}

.highlights_container::after {
    content: 'Highlights of 2019';
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    display: inline-block;
    transform: rotate(-180deg);
    background-color: white;
    color: rgb(139, 72, 139);
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    height: 45vh;
    padding: 2vh;
    right: -0.7%;
    top: 25%;
    z-index: 1;
}

.highlights_container {
    height: 90vh;
    position: relative;
}

.highlights__box {
    border: 0.76vh solid #85689a;
    height: 90vh;
    width: 90vw;
    padding: 3vh 6vw 3vh 7vw;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-items: center;
    align-items: center;
}

.highlights__box::before {
    font-family: 'icomoon';
    content: "\f053";
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 5vh;
    color: rgb(55, 83, 161);

}

.highlights__box::after {
    font-family: 'icomoon';
    content: "\f054";
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 5vh;
    color: rgb(55, 83, 161);
}

.highlights__box-card { 
    position: relative;
    display: flex;
    max-width: 25vw;
    width: 17.5vw;
    height: 37vh;
}

.highlights__box-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.highlights__box-card::after {
    font-family: 'icomoon';
    content: "\f178";
    font-size: 4vh;
    background-color: #85689a;
    color: #fff;
    transition: all 0.3s;
    height: 4vh;
    width: 4vh;
    right: -4%;
    bottom: 2%;
    position: absolute;
}

/* button styling */
.white-contaier {
    position: absolute;
    padding: 1.5vh;
    left: 50%;
    top: 96%;
    transform: translate(-50%);
    background-color: white;
}

.see_more-btn {
    width: 10vw;
    height: 2hv;
}

/* exhibition list START */
.exhibition-list {
    height: 100vh;
}

.background-image {
    background-image:
        linear-gradient(grey, grey),
         url("../photo/4/pawel-czerwinski-0oUbmylfYmo-unsplash.jpg");
    background-size: cover;
    display: block;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right:0;
    z-index: -1;
    background-blend-mode: saturation;
}

.exhibition-list__container {
    padding: 10vw 15vh 8vw 15vh;
    position: relative;
}

.exhitibion-list__container-info {
    font-family: 'icomoon';
    font-size: 6vh;
    font-weight: bolder;
    line-height: 9vh;
    padding-bottom: 5vh;
    text-align: left;
    
}

.exhibition-list__box {
    position: absolute;
    height: 68vh;
    width: 40vw;
    display: grid;
    row-gap: 3vh;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    top: 14.5%;
    right: 10%;
}

.defs-only {
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
}  

.exhibition-list__box-card {
    position: relative;
    display: flex;
    max-width: 25vw;
    width: 15.5vw;
    height: 31vh;
}

.exhibition-list__box-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: url(#monochrome);
}

.exhibition-list__box-card::after {
    font-family: 'icomoon';
    content: "\f178";
    font-size: 4vh;
    color: #fff;
    transition: all 0.3s;
    height: 4vh;
    width: 4vh;
    right: 3%;
    top: 45%;
    position: absolute;  
    transform: translate(50%);
}

.learn_more-btn {
    position: absolute;
    left: 50%;
    top: 96%;
    transform: translate(-50%);
}