/* class for arrow buttons across pages */
.arrow_buttons {
    background-color: rgb(139, 72, 139);
    color:floralwhite;
    position: absolute;
    padding: 0.3em;
    display: inline-block;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.text {
    position: absolute;
    width: 100px;
}

.arrow {
    position: absolute;
    width: 50px;
    right: 5%;
    font-size: large;
}

.first {
    position: relative;
}

/* nav bar start */
#first_top_part {
    height: 600px;
    background-image: url("./photo/1/jj-ying-7JX0-bfiuxQ-unsplash.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: -17px;
    margin-top: -10px;
}

#nav_bar {
    padding-top: 35px;
    text-align: center;
    position: relative;
}

.nav_bar_item {
    color: rgb(139, 72, 139);
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    margin-right: 3.5%;
    
}
/* nav bar end */

/* event selector start */
#event_selector {
    position: relative;
    text-align: center;
    margin-top: 50px;
    height: 400px;
}

.selector_elements {
    background-color: white;
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 270px;
    font-weight: bold;
}

.nav_arrows {
    color: rgb(139, 72, 139);
    position: absolute;
    font-size: 50px;
    vertical-align: middle;
    top: 45%;
    transform: translate(-50%);
}

#left_chevron {
    left: 16%;
}

#left_element {
    left: 19.5%;
    text-align: left;
    color: rgb(139, 72, 139);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    padding-left: 1em;
}

#center_element {
    left: 50%;
    width: 300px;
    height: 400px;
    transform: translate(-50%);
}

#center_element_txt {
    position: absolute;
    color: tomato;
    font-size: 50px;
    opacity: 60%;
    left: 50%;
    top: 30%;
    transform: translate(-50%);

}

#right_element {
    right: 19.5%;
    text-align: right;
    color: rgb(139, 72, 139);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    padding-right: 1em;
}

#right_chevron {
    right: 13%;
}

#view_more {
    width: 150px;
    height: 20px;
    bottom: 5%;
    left: 8%;
    transform: translate(25%);
}
/* event selector end */

/* grey area start */

#first_second_part {
    height: 600px;
    background-color: #adadad;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text_first_second_part {
    position: absolute;
    padding-left: 3%;
}

#first_second_header {
    color:white;
    font-size: 57px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-stretch: expanded;
    
}

/* image */
#big_image {
    position: absolute;
    height: 850px;
    width: 1000px;
    right: 0%;
    bottom: 0%;
}

#circle {
    position: absolute;
    height: 450px;
    width: 535px;
    right: 0%;
    bottom: 20%;
    color: rgb(139, 72, 139);
    opacity: 85%;
    font-size: 535px;
}

#waves {
    position: absolute;
    right: 35%;
    bottom: 15%;
    color: white;
    opacity: 85%;
    font-size: 150px;
}