
#first_top_part {
    height: 600px;
    background-image: url("./photo/1/jj-ying-7JX0-bfiuxQ-unsplash.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: -17px;
    margin-top: -10px;
}

#nav_bar {
    padding-top: 35px;
    text-align: center;
    position: relative;
}

.nav_bar_item {
    color: rgb(95, 24, 95);
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    margin-right: 3.5%;
    
}

#event_selector {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.nav_arrows {
    color: rgb(95, 24, 95);
    position: relative;
    font-size: -webkit-xxx-large;
}

#center_element {
    width: 25px;
    height: 25px;
    background-position: center;
    position: relative;
}

#first_second_part{
    height: 600px;
    background-color: #adadad;
    background-position: center;
    background-size: cover;
    position: relative;
}

p {
    color: red;
}